* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   scroll-behavior: smooth;
}
body {
   background-color: #f5f5f5;
   height: 200vh;
}
.container {
   width: 78.5937%;   
   margin: auto;
}
#home {
   width: 100%;
   height: 100vh;
}
header { transition: 0.4s; z-index: 1}
.header {
   position: fixed;
   width: 100%;
   height: 72px;
}
.header-on-scroll {
   position: fixed;
   width: 100%;
   height: 50px;
   background-color: #fff;
   padding-bottom: 6px;
   box-shadow: 1px 2px 3px #80808009;
}
.flex-view {
   height: 100%;
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
}
.logo {
   font-family: nexa;
   font-weight: 100;
   word-spacing: -4px;
   cursor: pointer;
}
nav {
   width: 320px;
   height: 39px;
}
nav ul{
   list-style: none;
   height: 100%;
}
nav ul li {
   display: inline-block;
}
nav ul li a {
   text-decoration: none;
   display: block;
   color: #000;
   font-family: nexa;
   font-size: 15px;
   padding: 13px 27px 0 0;
   transition: color 0.45s;
}nav ul li a:hover {
   color: #1DC48B
}

nav ul li:nth-child(4) a {  padding-right: 0px;  }

.more-options {
   width: 85px;
   height: 39px;
}
.more-options .icon {
   display: inline-block;
   padding: 12px 13px;
}
.more-options .icon:nth-child(2) {
   padding-right: 0;
}
svg { width: 20px }
.presentation {
   width: 78%;
   position: relative;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%);   
}
.pre-top {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 450px;
}
.presentation-text p {
   font-size: 42px;
   font-family: jost;
   font-weight: bold;
   line-height: 1.8;
}
.presentation-img {
   width: auto;
}
span {
   color: #1DC48B 
}
.scroll-down {
   padding: 20px 0;
}
.scroll-down .icon {
   width: 60px;
   height: 60px;
   background-color: #1DC48B;
   margin: 0 auto;
   text-align: center;
   border-radius: 50%;
   line-height: 5.35;
   transition: transform 0.4s;
}.scroll-down .icon:hover {
   background-color: #1e8361;
   transform: translateY(6px);
}

#pre-img {
   transition: 2.5s;
}

.scroll-down .icon svg {
   color: #fff;
   width: 30px;
}
#my-work-section {
   height: 462px;
   text-align: center;
}
#my-work-section .container {
   height: 100%;
}
.heading {
   width: 100%;
   height: 70px;
   margin-bottom: 50px;
   text-align: center;
}
.heading h2 {
   font-size: 30px;
   font-family: nexa;
   padding-bottom: 10px;
}
.small-line {
   width: 40px;
   height: 5px;
   background-color: #1DC48B;
   border-radius: 5px;
   margin: auto;
}

#work {
   width: 100%;
   height: 340px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.work-item {
   width: 323px;
   height: 100%;
   background-color: #fff;
   border-radius: 5px;
   padding: 14px;
   box-shadow: 4px 4px 6px #00000008;
   transition: .4s;
   cursor: pointer;
}.work-item:hover {
   transform: translateY(-4px);
   box-shadow: 4px 4px 6px #00000013;
}
.work-item h3 {
   text-align: left;
   padding: 14px 0;
   color: #1DC48B;
   font-family: jost;
   font-weight: 400;
   font-size: 21px;
}
.work-item hr {
   position: relative;
   width: 323px;
   height: 1px;
   border: none;
   left: -14.1px;
   background-color: #D9D9D9;
}
.work-item p {
   text-align: left;
   padding: 10px 0;
   font-size: 12px;
   line-height: 1.6;
   font-family: jost;
   font-weight: bold;
}

#about-me-section{
   height: 450px;
}
.about-me-content {
   height: 330px;
}
.about-me-text {
   float: left;
   padding: 33px 0;
   line-height: 2;
}
.about-me-text p {
   font-family: jost;
   font-size: 28px;
}
.personal-img {
   float: right;
   width: 272px;
   height: 267px;
   border-radius: 50%;
   overflow: hidden;
   margin: 15px 0;
}
.personal-img img {
   background-size: cover;
}
.clear {
   clear: both;
}

#contact-me-section {
   height: 350px;
}
#contact-accounts {
   height: 228px;
   text-align: center;
}

.contact-accounts p {
   font-size: 25px;
   font-family: nexa;
   padding: 0 0 35px 0;
   text-align: center;
}

.social-media-icons {
   width: 24%;
   margin: auto;
   display: flex;
   align-items: center;
}
.social-media-icons i {
   margin: 0 15px;
}
.social-media-icons a i svg {
   width: 28px;
   color: red;
   transition: opacity .3s;
}.social-media-icons i svg:hover {
   opacity: 82%;
}

.social-media-icons i:nth-child(2) svg {
   width: 32px;
}
.social-media-icons i:nth-child(4) svg {
   width: 36px;
}

footer {
   width: 100%;
   height: 80px;
   background-color: #1DC48B;
   text-align: center;
   padding-top: 25px;
}

footer p {
   color: #fff;
   font-size: 22px;
   font-family: jost;
}

section {
   margin-bottom: 100px;
   padding-top: 60px;
}





